<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FarEastList | More Exposure to Chinese Investors</title>

  <link rel="stylesheet" href="css/foundation.css">
  
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>


<!-- Profile -->
  <div class="panel">
    <div class="row">
      <div class="large-3 columns">
        <img src="http://placehold.it/300x300&text=Profile" /><br/>
        <a href="#" class="small button secondary expand">Edit Photo</a><br/><a href="#" class="small button secondary">Edit Profile</a>
      </div>
      <div class="large-9 columns">
        <p class="small-6 columns">Name</p>
        <p class="small-6 columns">Email</p>
        <p class="small-12 columns">Password <a href="#">(Edit)</a></p>
        <p class="small-6 columns">Location</p>
        <p class="small-6 columns">Province</p>
        <p class="small-6 columns">I am _____________</p>
        <p class="small-6 columns">License #</p>
        <p class="small-4 columns">Email</p>
        <p class="small-4 columns">Phone</p>
        <p class="small-4 columns">Company</p>
      </div>

    </div>
  </div>
<!-- End Profile -->

  <div class="row">
    <div class="large-6 columns text-center">
			<a href="#" class="button round ">Current Listings / Advertisements</a>
    </div>
		<div class="large-6 columns text-center">
			<a href="#" class="button round ">Search Buyers</a>
		</div>
  </div>

<!-- Submit Listing -->
  <div class="row">
    <div class="large-6 columns">
 			<img src="http://placehold.it/800x200&text=Preview Example" />
 			<h4>Listing Service</h4>
 			<p>Have a property to sell / rent?</p>
			<p>Thousands of Chinese investors look through our listings looking for investment opportunities.</p>
			<h6>Recommended for: Home Sellers, Listing Agents, Developers, and Regional Centers</h6>
			<a href="#" class="small button round ">Submit a Listing</a>
    </div>
		<div class="large-6 columns">
			<img src="http://placehold.it/800x200&text=Preview Example" />
			<h4>Professional Service Ads</h4>
			<p>Just want to Market yourself and your professional Services?</p>
			<p>Not only do our Chinese investors look for properties on our site, they also look for professionals in the industry to assist them with all their real estate needs.</p>
			<h6>Recommended for: Real Estate Agents, Escrow Agents, Home Inspectors, Title Agents, Property Managers, Loan Agents, Attorneys, Contractors, Designers, Architects, Appraisers, Stager and other real estate professionals</h6>
			<a href="#" class="small button  round ">Submit a Professional Advertisement</a>
		</div>
  </div>


  <div class="row">
		<div class="large-6 columns">
			<img src="http://placehold.it/800x200&text=Preview Example" />
			<h4>Banner Advertisements</h4>
			<p>Looking for that extra exposure?</p>
			<p>Considering a custom Banner Advertisement to Marketing your property, project, or professional service.</p>
			<h6>Recommended for: All Real Estate related professionals and Eb-5 Projects</h6>
			<a href="#" class="small button  round ">Submit a Data Feed</a>
		</div>
		<div class="large-6 columns">
			<img src="http://placehold.it/800x200&text=Preview Example" />
			<h4>Data Feed</h4>
			<p>Need to list a lot of properties?</p>
			<p>Data feeds are the most efficient way to submit multiple listings for rent or sale. You can authorize MLS to send a listing feed on your behalf.</p>
			<h6>Recommended for: Power users.</h6>
			<a href="#" class="small button  round ">Submit a Banner</a>
		</div>

  </div>

<!-- End Submit Listing -->




  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
