<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FarEastList | More Exposure to Chinese Investors</title>

  <link rel="stylesheet" href="css/foundation.css">
  
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>


<h1>Current Listings</h1>

<!-- Profile -->
  <div class="panel">
    <div class="row">
      <div class="large-3 columns">
        <img src="http://placehold.it/300x300&text=Profile" /><br/>
        <a href="#" class="small button secondary expand">Edit Photo</a><br/><a href="#" class="small button secondary">Edit Profile</a>
      </div>
      <div class="large-9 columns">
        <p class="small-12 columns text-right"><a href="#" class="small button round">Return to Admin Page</a></p>
        <p class="small-6 columns">Name</p>
        <p class="small-6 columns">Email</p>
        <p class="small-12 columns">Password <a href="#">(Edit)</a></p>
        <p class="small-6 columns">Location</p>
        <p class="small-6 columns">Province</p>
        <p class="small-6 columns">I am _____________</p>
        <p class="small-6 columns">License #</p>
        <p class="small-4 columns">Email</p>
        <p class="small-4 columns">Phone</p>
        <p class="small-4 columns">Company</p>
      </div>

    </div>
  </div>
<!-- End Profile -->

<!-- Listing for Sale / Rent -->

  <div class="large-12 columns">
    <h2>Listing for Sale/Rent</h2>


  <div class="panel">
    <div class="row">
      <div class="large-2 columns">
        <p>Search Results</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/300x300&text=Image" />
      </div>
      <div class="large-6 columns">
        <p class="small-6 columns">For Sale/Rent by</p>
        <p class="small-6 columns">Date</p>
        <p class="small-12 columns">Price/Rent</p>
        <p class="small-12 columns">Listing Type</p>
        <p class="small-12 columns">Address</p>
        <p class="small-12 columns">Property Type</p>
        <p class="small-6 columns">Bed</p>
        <p class="small-6 columns">Bath</p>
        <p class="small-6 columns">Built</p>
        <p class="small-6 columns">Sq.ft</p>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="large-12 columns">
        <p>Description</p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <img src="http://placehold.it/600x300&text=Map" />
      </div>
      <div class="large-6 columns">
        <img src="http://placehold.it/600x300&text=Video Tour" />
      </div>
    </div>

  </div>

  <div class="row">
    <div class="large-12 columns text-center">
      <a href="#" class="small button secondary round">Edit Listing</a>
      <a href="#" class="small button round">Enhance Listing</a>
      <a href="#" class="small button round alert">Cancel Listing</a>
    </div>
  </div>

<!-- End of Listing for Sale / Rent -->


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<!-- Professional Ad -->

  <div class="large-12 columns">
    <h2>Professional Ad</h2>


  <div class="panel">
    <div class="row">
      <div class="large-2 columns">
        <p>Search Results</p>
      </div>
      <div class="large-4 columns">
        <img src="http://placehold.it/300x300&text=Image" />
      </div>
      <div class="large-6 columns">
        <p class="small-6 columns">Name</p>
        <p class="small-6 columns">Date</p>
        <p class="small-12 columns">Professional Skill</p>
        <p class="small-12 columns">Company</p>
        <p class="small-12 columns">License#</p>
        <p class="small-12 columns">State</p>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
      <div class="large-2 columns">
        <img src="http://placehold.it/200x200&text=Image" />
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="large-12 columns">
        <p>Description</p>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <img src="http://placehold.it/600x200&text=Other Listings" />
      </div>
      <div class="large-6 columns">
        <img src="http://placehold.it/600x200&text=Other Listings" />
      </div>
    </div>

  </div>

  <div class="row">
    <div class="large-12 columns text-center">
      <a href="#" class="small button secondary round">Edit Listing</a>
      <a href="#" class="small button round">Enhance Listing</a>
      <a href="#" class="small button round alert">Cancel Listing</a>

    </div>
  </div>

<!-- End Professional Ad -->




  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
