<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FarEastList | More Exposure to Chinese Investors</title>

  <link rel="stylesheet" href="css/foundation.css">
  
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>


<!-- Find Listings -->
<div class="panel">
	<div class="row">
		<div class="large-12 columns">
      <!-- Radio buttons not displaying right in this context, should be inline block --><label for="radio1"><input name="radio1" type="radio" id="radio1"> Find For Sale Listings</label> <label for="radio2"><input name="radio2" type="radio" id="radio2"> Find Rental Listings</label> <label for="radio3"><input name="radio3" type="radio" id="radio3"> Find Professionals</label>
 		</div>
	</div>
  <div class="row">
    <div class="large-9 columns text-center">
      <input type="text" placeholder="Address, property, MLS"></input>
    </div>
		<div class="large-3 columns text-center">
			<a href="#" class="button small round expand">Search</a>
		</div>
  </div>
</div>
<!-- End Find Listings -->



  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
