<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FarEastList | More Exposure to Chinese Investors</title>

  <link rel="stylesheet" href="css/foundation.css">
  
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>


<!-- Trigger Modal Button -->
	<div class="row">
		<div class="large-12 columns text-center">
			<br/><br/><br/><br/><br/><br/><br/><br/>
			<a href="#" class="small button alert" data-reveal-id="cancelListing">Cancel Listing</a>
		</div>
	</div>
<!-- End Trigger, see bottom of document for the rest -->

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>


<!-- Cancel Listing -->
	<div id="cancelListing" class="reveal-modal">
		<a class="close-reveal-modal">&#215;</a>

		<div class="row">
			<div class="large-12 columns text-center">
				<h5>Thank you.</h5>
				<p>Your paid subscription does not end until 10/12. Are you sure you want to cancel?</p>
				<p><a href="#" class="small button secondary">That's not what I wanted!</a> <a href="#" class="small button alert">Cancel Listing</a></p>
			</div>
		</div>
<!-- End Cancel Listing-->

</body>
</html>
