<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FarEastList | More Exposure to Chinese Investors</title>

  <link rel="stylesheet" href="css/foundation.css">
  
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>


<!-- Submit Data Feed -->
	<div class="row">
		<div class="large-12 columns">
		
			<h1>Submit Data Feed</h1>

			<form>
				<fieldset>
					<legend>Listing Address</legend>

					<div class="row">
						<div class="large-4 columns">
							<label>Name</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-5 columns">
							<label>Email</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-3 columns">
							<label>Phone</label>
							<input type="text" placeholder="">
						</div>
					</div>

					<div class="row">
						<div class="large-4 columns">
							<label>Broker/Entity</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-4 columns">
							<label>State</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-4 columns">
							<label>Business Type</label>
							<input type="text" placeholder="">
						</div>
					</div>



					<div class="row">
						<div class="large-12 columns">
							<label>Feed URL</label>
							<input type="text" placeholder="Enter the Web address where consumers can find more information about this specific property.">
						</div>
					</div>
				</fieldset>

					<div class="row">
						<div class="large-12 columns text-center">
              <label for="checkbox1"><input type="checkbox" id="checkbox1" class="hidden-field"><span class="custom checkbox"></span> Agree to <a href="#">Terms & Conditions</a></label>

              <a href="#" class="large button round">Submit Feed</a>
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns text-center">
						  Other formats accepted:
              <a href="#" class="small button secondary">CSV</a>
              <a href="#" class="small button secondary">XML</a>
              <a href="#" class="small button secondary">Other</a>
              <a href="#" class="small button secondary">Single Listing</a>
						</div>
					</div>

			</form>
		
		</div>
	</div>

<!-- End Submit Data Feed -->


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
