<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FarEastList | More Exposure to Chinese Investors</title>

  <link rel="stylesheet" href="css/foundation.css">
  
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>

<!-- List for Sale -->
	<div class="row">
		<div class="large-12 columns">
		
			<h1>List for Sale</h1>

			<form>
				<fieldset>
					<legend>Listing Address</legend>

					<div class="row">
						<div class="large-4 columns">
							<label>Street Number</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-5 columns">
							<label>Street Name</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-3 columns">
							<label>Unit Number</label>
							<input type="text" placeholder="">
						</div>
					</div>

					<div class="row">
						<div class="large-3 columns">
							<label>City</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-3 columns">
							<label>State</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-3 columns">
							<label>Zip </label>
							<input type="text" placeholder="">
						</div>
						<div class="large-3 columns">
							<label>Country</label>
							<input type="text" placeholder="">
						</div>
					</div>

				</fieldset>
				<fieldset>
					<legend>Listing Information</legend>

					<div class="row">
						<div class="large-4 columns">
							<label>License Number</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-4 columns">
							<label>License State</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-4 columns">
							<label>???</label>
							<input type="text" placeholder="">
						</div>
					</div>

					<div class="row">
						<div class="large-3 columns">
							<label>Listing Price</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-3 columns">
							<label>Listing Type</label>
              <select>
                <option disabled="">Select...</option>
                <option>Resale</option>
                <option>New</option>
              </select>
						</div>
						<div class="large-3 columns">
							<label>Property Type</label>
              <select>
                <option disabled="">Select...</option>
                <option>Single Family Home</option>
                <option>Condo</option>
                <option>Townhouse etc</option>
              </select>
						</div>
            <div class="large-3 columns">
            <label>Date Listed</label>
              <div class="row collapse">
                <div class="small-10 columns">
                  <input type="text" placeholder="Value">
                </div>
                <div class="small-2 columns">
                  <span class="postfix radius"><a href="#">CAL</a></span>
                </div>
              </div>
            </div>
					</div>

					<div class="row">
						<div class="large-2 columns">
							<label>Bedrooms</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-2 columns">
							<label>Bathrooms</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-3 columns">
							<label>Square Feet</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-3 columns">
							<label>Lot Size</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-2 columns">
							<label>Year Built</label>
							<input type="text" placeholder="">
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							<label>Description</label>
							<textarea placeholder=""></textarea>
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							<label>Property Listing URL</label>
							<input type="text" placeholder="Enter the Web address where consumers can find more information about this specific property.">
						</div>
					</div>

					<div class="row">
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
					</div>

          <hr/>

					<div class="row">
            <div class="large-4 columns">
              <label for="checkbox1"><input type="checkbox" id="checkbox1" class="hidden-field"><span class="custom checkbox"></span> Map ($1 USD) <a href="#" class="small button secondary">Get Location</a></label>
            </div>
						<div class="large-8 columns">
              <label for="checkbox2"><input type="checkbox" id="checkbox2" class="hidden-field"><span class="custom checkbox"></span> Video/Virtual Tour ($1 USD) <a href="#" class="small button secondary">Load URL</a></label>
						</div>
					</div>

					<div class="row">
						<div class="large-4 columns">
              <label for="checkbox3"><input type="checkbox" id="checkbox3" class="hidden-field"><span class="custom checkbox"></span> Priority Listing ($10 USD)<br/>Appears at top of search results.</label>
						</div>
						<div class="large-8 columns">
              <label for="checkbox4"><input type="checkbox" id="checkbox4" class="hidden-field"><span class="custom checkbox"></span> Featured Listing ($25 USD)<br/>Appears on front page of website in rotating position.</label>
						</div>
					</div>

				</fieldset>

					<div class="row">
						<div class="large-6 columns text-right">
							<h2><small>Your fees so far:</small> $0.00</h2>
						</div>
						<div class="large-6 columns">
              <a href="#" class="large button round">Review &amp; Post</a>
						</div>
					</div>

			</form>
		
		</div>
	</div>

<!-- End List For Sale -->


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
