<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FarEastList | More Exposure to Chinese Investors</title>

  <link rel="stylesheet" href="css/foundation.css">
  
  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>


<!-- List Profile -->
	<div class="row">
		<div class="large-12 columns">
		
			<h1>Professional Profile</h1>

			<form>
				<fieldset>

        <!-- Profile -->
          <div class="panel">
            <div class="row">
              <div class="large-3 columns">
                <img src="http://placehold.it/300x300&text=Profile" /><br/>
                <a href="#" class="small button secondary expand">Edit Photo</a><br/><a href="#" class="small button secondary">Edit Profile</a>
              </div>
              <div class="large-9 columns">
                <p class="small-6 columns">Name</p>
                <p class="small-6 columns">Email</p>
                <p class="small-12 columns">Password <a href="#">(Edit)</a></p>
                <p class="small-6 columns">Location</p>
                <p class="small-6 columns">Province</p>
                <p class="small-6 columns">I am _____________</p>
                <p class="small-6 columns">License #</p>
                <p class="small-4 columns">Email</p>
                <p class="small-4 columns">Phone</p>
                <p class="small-4 columns">Company</p>
              </div>
            </div>
          </div>
        <!-- End Profile -->

					<div class="row">
						<div class="large-4 columns">
							<label>License Number</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-4 columns">
							<label>Type of License</label>
							<input type="text" placeholder="">
						</div>
						<div class="large-4 columns">
							<label>License State</label>
							<input type="text" placeholder="">
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							<label>Description</label>
							<textarea placeholder=""></textarea>
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							<label>URL</label>
							<input type="text" placeholder="Enter the Web address where consumers can find more information about you.">
						</div>
					</div>

					<div class="row">
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
						<div class="large-2 columns">
						  <img src="http://placehold.it/200x200&text=Add Photos" />
						</div>
					</div>

          <hr/>

					<div class="row">
						<div class="large-4 columns">
              <label for="checkbox3"><input type="checkbox" id="checkbox3" class="hidden-field"><span class="custom checkbox"></span> Priority Listing ($10 USD)<br/>Appears at top of search results.</label>
						</div>
						<div class="large-8 columns">
              <label for="checkbox4"><input type="checkbox" id="checkbox4" class="hidden-field"><span class="custom checkbox"></span> Featured Listing ($25 USD)<br/>Appears on front page of website in rotating position.</label>
						</div>
					</div>

				</fieldset>

					<div class="row">
						<div class="large-6 columns text-right">
							<h2><small>Your fees so far:</small> $0.00</h2>
						</div>
						<div class="large-6 columns">
              <a href="#" class="large button round">Review &amp; Post</a>
						</div>
					</div>

			</form>
		
		</div>
	</div>

<!-- End List Profile -->


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
